*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:linear-gradient(135deg,#1d1d1d,#111);
    color:#fff;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    text-align: center;
    background: rgba(255,255,255,0.05);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 20px #00c6ff88;
    backdrop-filter: blur(10px);
    width: 90%;
    max-width: 700px;

}
h1{
    margin: 10px;
    color:#00c6ff88;
}
.quality-control{
    margin: 1 rem 0 ;
}

.quality-control select{
    padding: 8px 16 px;
    background: #222;
    color:#00c6ff88;
    border: 1px solid #00c6ff88;
    border-radius: 8px;
}
video{
    width: 100%;
    max-width: 600px;
    margin:20px 0;
    background: #000;
    border: 2px solid #00c6ff88;
    border-radius: 10px;
}
.controls button{
    background: #00c6ff88;
    border: none;
    padding:10px 20px;
    margin:5px;
    border-radius: 5px;
    color:white;
    cursor: pointer;
    font-size:16px;
}
.controls button:hover{
    transform: scale(1.05);
}
#timer{
    margin-top:10px;
    font-size: 25px;
    color:#ffb347;
}


